/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* general */
:root {
    --color-dark-blue: #0061ff;
    --color-light-blue: #b4d0e7;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-green: #a2d39b;
    --color-blue: #0093ce;
    --color-burgundy: #61082b;
    --color-light-red: #ff1c1c;
    --color-dark-red: #d5001f;
    --color-yellow: #ffd830;
    --color-ultramarine: #0d2481;
    --color-not-white: #f5f5f5;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
}

a {
    color: var(--color-black);
}

img {
    max-width: 100%;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    padding-top: 30px;
}

h3 {
    font-size: xx-large;
    padding-top: 100px;
    padding-bottom: 50px;
}

h5 {
    font-size: large;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* header  */
header {
    margin-top: 60px;
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-white);
}

nav li {
    padding: 0 20px;
    font-size: small;
}

nav img {
    width: 80%;
}

#jumbo {
    background-color: var(--color-light-blue);
}
#jumbo .img {
    width: 70%;
    position: relative;
    top: 50px;
}

#jumbo .list {
    width: 30%;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: small;
}


.fa-arrow-down {
    font-size: 40px;
}

/* main  */

/* sec 1  */

label {
    font-size: x-small;
}

label span {
    padding-left: 5px;
    padding-right: 10px;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 5px #999;
}

input[type='radio']:checked {
    border: 3px solid var(--color-dark-blue);
    box-shadow: 0 0 5px var(--color-dark-blue);
}
/* sec 2  */
.card {
    width: calc(100% / 3 - 20px);
    border: 1px solid lightgrey;

}

.top-card {
    border-bottom: 1px solid lightgrey;
    padding: 6px 0;
    text-align: center;
}
.sec-2 {
    font-weight: 500;
}

.sec-2 ul {
    margin-bottom: 30px;
}

.sec-2 ul li {
    padding-bottom: 10px;
}

.sec-2 div>ul {
    padding: 0px 25px;
}

.sec-2 li div {
    padding: 25px 0;
    padding-right: 10px;
    border-bottom: 1px solid grey;
}

.fa-check {
    color: var(--color-dark-blue);
}

ul.indent {
    padding-left: 1.2em;
}

/* sec 3  */

.up-card {
    border-bottom: 1px solid lightgrey;
    padding: 6px 0;
    text-align: center;
}
.low-card {
    width: 100%;
    padding: 0 25px 30px 25px;
}
.sec-3 {
    border: 1px solid lightgrey;
}

.big {
    width: 70%;
}
.small {
    width: 30%;
}
.small li {
    margin-top: 30px;
}

/* sec 4  */
.sec-4 .img {
    width: 65%;
}
.sec-4 .list {
    width: 45%;
    padding: 0 30px;
}
.sec-4 .btn {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: larger;
    border: 1px solid var(--color-black);
}

/* sec 5  */
.sec-5 .card {
    width: calc(100% / 3 - 20px);
    border: none;
}
/* sec 7  */
.sec-7 {
    padding-top: 100px;
}
.sec-7 .card {
    width: calc(100% / 3);
    border: none;
}
.small-card {
    width: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
}
.sec-7 img:not(.bg-center img){
    filter: invert(100%);
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bg-1-1{
    background-color: var(--color-light-green);
}
.bg-1-2{
    background-color: var(--color-burgundy);
}
.bg-1-3{
    background-color: var(--color-blue);
}
.bg-1-4{
    background-color: var(--color-light-red);
}
.bg-2-1{
    background-color: var(--color-dark-red);
}
.bg-2-2{
    background-color: var(--color-light-blue);
}
.bg-2-3{
    background-color: var(--color-ultramarine);
}
.bg-2-4{
    background-color: var(--color-yellow);
}
.bg-center{
    background-color: var(--color-not-white);
    padding: 50px;
}
.bg-center div {
    padding: 15px 0;
}
.bg-center img+div {
    color: lightgray;
}
.bg-center img {
    width: 60%;
}

/* sec 8  */
.sec-8 {
    background-color: var(--color-light-blue);
    margin-top: -40px;
}
.sec-8 h3 {
    color: #61082b;
    margin-bottom: +50px;
}
.sec-8 .btn {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(0, -100%);
}
.left {
    width: 60%;
}

.right {
    width: 40%;
    position: relative;
}

/* sec 9  */
summary {
    font-size: larger;
    font-weight: 700;
    padding: 30px 0;
    border-top: 1px solid var(--color-black);
}
.sec-9>div:last-child {
    border-bottom: 1px solid var(--color-black);
    margin-bottom: 100px;
}
details div {
    font-size: larger;
    padding-left: 20px;
    padding-bottom: 10px
}
details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  float: right;
}

details[open] > summary::before {
    transform: rotate(180deg);
    font-weight: 900;
  }
/* footer  */

footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 60px;
}
footer li {
    line-height: 30px;
}
.language {
    word-spacing: 3px;
    display: inline-block;
    margin-top: 60px;
    padding: 30px 0;
    border-top: 1px solid var(--color-white);
}
/* utility  */
.container {
    margin: 0 auto;
    max-width: 900px;
}

.small-container {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 40px;
}
.link {
    color: #7071f4;
    text-decoration: 1px underline;
    padding-bottom: 1px;
}

.gap {
    gap: 20px;
}
.btn {
    padding: 6px 12px;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    text-align: center;
}

.indent {
    text-indent: -0.6em;
}

.weight {
    font-weight: 800;
}

.margin-b {
    margin-bottom: 20px;
}

.color-grey {
    color: grey;
}

.color-white {
    color: var(--color-white);
}
.overflow {
    overflow: auto;
}
/* flex utility  */
.d-flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}
.row-reverse {
    flex-direction: row-reverse;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.wrapper {
    flex-wrap: wrap;
}
